* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
}

.no {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

h1 {
    font-size: 7rem;
}

.box {
    background-color: aqua;
    height: 40px;
    width: 40px;
    margin: 1rem;
    display: inline-block;
    place-content: center;
}

button{
    width: 100px;
    height: auto;
    background-color: blue;
    color: aliceblue;
    grid-column: 3 / 4;
}

.black {
    color: black;
}
